* {
  margin: auto;
  padding: 0;
}

/* Шрифты текта */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Roboto"),
       /* Если не получилось, загрузит woff2 */
       url("/fonts/roboto.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("/fonts/roboto.woff") format("woff");
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #e1edeb;
}

/* Вверх сайта с лого */
.logo {
  display: flex;
  justify-content: space-between;
  background-color: #e1edeb;
}
.logo>img {
  height: 100px;
}

.phone>img {
  width: 30px;
}

.phone {
  display: flex;
  color: #00a86b;
}

/* МЕНЮ */
.open {
  display: flex !important;
}

.menu a:hover {
  color: #00a86b;
    }

.menu a.active {
  color: #00a86b;
}

.logo_menu>img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90px;
}

.menu a {
  text-decoration: none;
  color: #e1edeb;
}

.menu ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  background-color: #1c1c1c;
  color: #e1edeb;
  padding: 0 40px;
}

.menu {
  display: flex;
  width: 700px;
  padding: 0 40px;
}

/* Иконка бургерменю */
.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}

.burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #e1edeb;
}

.burger::before, .burger::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #e1edeb;
  transition: all 0.3s ease 0s;
}

.burger::before { top:0 }

.burger::after { bottom: 0 }

/* Добавляем класс active для анимации иконки бургера */
.burger.active span { transform: scale(0) }

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}


/* Форма для расчета стоимости */
.form {
  max-width: 500px;
  margin: 0px auto;
  padding: 30px 0;
}
.form * {
  outline: none;
}
.form_body {
  position: relative;
} 
.form_body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("loading.gif") center / 50px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}
.form_title {
  color: #00a86b;
  font-size: 30px;
  font-weight: 700;
  margin: 0px 0px 30px 0px;
}
.form_item {
  margin: 0px 0px 10px 0px;
}
.form_label {
  font-size: 18px;
  display: block;
  margin: 0px 0px 7px 0px;
}
.form_input {
  height: 30px;
  padding: 0px 20px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
}
.form_input:focus {
  box-shadow: 0 0 15px #00a86b;
}
.form_input._error {
  box-shadow: 0 0 15px #ff0000;
}
textarea.form_input {
  min-height: 120px;
  resize: vertical;
  padding: 20px;
}
.select {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  padding: 0px 20px;
}
.checkbox._error .checkbox_label::before{
  box-shadow: 0 0 15px #ff0000;
}
.checkbox_input {
  display: none;
}
.checkbox_input:checked + .checkbox_label::after{
  transform: scale(1);
}
.checkbox_label {
  font-size: 16px;
  line-height: 140%;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.checkbox_label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 24px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 4px;
  margin: 0px 10px 0px 0px;
}
.checkbox_label::after {
  transition: transform 0.5s ease 0s;
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #00a86b;
  border-radius: 4px;
  transform: scale(0);
}
.checkbox_label>a {
  text-decoration: none;
  color: #00a86b;
}
.form_button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  background-color: #00a86b;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 0;
}

.form_button:hover {
  background-color: #007047;
}

.form_button:active {
  top: 3px;
  box-shadow: 0 2px 0 #00492e;
}

.checkbox_label a {
  text-decoration: none;
  color: #1c1c1c;
}
.checkbox_label a:hover {
  color: #00a86b;
}


/* Инфо компании */
.logo_2 {
  background-color: #00a86b;
  color: #fff;
  padding: 40px;
  display: flex;
  text-align: center;
}

.end {
  padding: 2%;
}